{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="title is-1">WHAT DO YOU WANNA SEE ?</h1>
    <div class="columns is-multiline is-desktop is-vcentered is-centered">
        <div class="column is-half">
            <a href="{{ path('characters') }}">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://media0.giphy.com/media/3ornjPteRwwUdSWifC/giphy.gif?cid=ecf05e470t56hzu9rlqo6d4xsfa4go861gqtkvfu4ry62vc3&rid=giphy.gif&ct=g" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Characters</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="column is-half">
            <a href="{{ path('films') }}">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://media2.giphy.com/media/wNA3YfMD2Fe9y/giphy.gif?cid=ecf05e470t56hzu9rlqo6d4xsfa4go861gqtkvfu4ry62vc3&rid=giphy.gif&ct=g" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4">Films</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}